@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

@font-face {
  font-family: "FF-1";
  src: url("/Fonts/ff-1.woff2");
}

@font-face {
  font-family: "FF-3";
  src: url("/Fonts/ff-3.woff2");
}

@font-face {
  font-family: "FF-4";
  src: url("/Fonts/ff-4.woff2");
}

.custom-font1 {
  font-family: "FF-1";
}

.custom-font3 {
  font-family: "FF-3";
}

.custom-font4 {
  font-family: "FF-4";
}

@keyframes jump {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}

.animate-jump {
  animation: jump 1s ease-in-out alternate-reverse infinite;
}
